<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-form-title" style="background-image: url(../../assets/images/bg-01.jpg);">
                <span class="login-form-title-1">
                    Sign In
                </span>
            </div>

            <form class="login-form validate-form">
                <!-- <div class="wrap-input validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input">Username</span>
                    <input class="input" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input"></span>
                </div> -->
                <div class="form-group">
                    <label for="username">Username</label>
                    
                </div>
            </form>
        </div>
    </div>
</div>